@using System.Globalization;
@model YourCarePortal.Models.FormsandClients;
@using System.Net;

@if (Model.RootFormsListPerson == null) // This checks if the collection is empty.
{
    <div class="centered-content">
        <h1>This client does not currently have any budget at this time.</h1>
        <p>@ViewBag.NoDataSubText</p>
    </div>
}

else
{
    <div id="formsContainerlarge">

        <br />
        <br />
        <br />

        <label>Test if Partial View is working:  </label>

        <label> @Model.RootFormsListPerson.Fullname</label>

    </div>
}